<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IoT Espresso Helper</title>
  </head>
  <header>
    <h1>IoT Espresso Helper</h1>
  </header>
  <body>
    <h2>Network Setup</h2>
    <p>
      Please enter your wireless network's SSID and password to enable the
      device to connect to your network.
    </p>
    <form
      action="/setup"
      method="POST"
      autocomplete="off"
      autocapitalize="none"
    >
      <label for="ssid">SSID:</label><br />
      <input type="text" id="ssid" name="ssid" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br /><br />
      <button>Save</button>
    </form>
  </body>
</html>
